body {
    display: flex;
    flex-wrap: wrap;

}

/* ejercicio 1 */
.div111 {
    height: 150px;
    background-color:aqua;
    width: 250px;
}

.div112 {
    height: 150px;
    background-color: yellow;
    flex-grow: 1;
}

.div113 {
    height: 150px;
    background-color:aqua;
    width: 250px;
}

/* ejercicio 2 */
.div121 {
    height: 150px;
    background-color:aqua;
    width: 200px;
}

.div122 {
    height: 150px;
    background-color: yellow;
    flex-grow: 0.5;
}

.div123 {
    height: 150px;
    background-color:aqua;
    flex-grow: 0.5;
}

.div124 {
    height: 150px;
    background-color: yellow;
    width: 200px;
}

/* ejercicio 3 */
.div131 {
    height: 150px;
    background-color:aqua;
    flex-grow: 1;
}

.div132 {
    height: 150px;
    background-color: yellow;
    flex-grow: 1;
}

.div133 {
    height: 150px;
    background-color:aqua;
    flex-grow: 1;
}

/* ejercicio 4 */
.div141 {
    height: 150px;
    background-color:aqua;
    flex-grow: 0.5;
}

.div142 {
    height: 150px;
    background-color: yellow;
    flex-grow: 0.25;
}

.div143 {
    height: 150px;
    background-color:aqua;
    flex-grow: 0.25;
}

/* ejercicio 5 */
.div151 {
    height: 150px;
    background-color:aqua;
    flex-grow: 0.2;
}

.div152 {
    height: 150px;
    background-color: yellow;
    flex-grow: 0.2;
}

.div153 {
    height: 150px;
    background-color:aqua;
    flex-grow: 0.6;
}